<!DOCTYPE HTML>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<title>Numerology App</title>
		<link rel="stylesheet" href="/css/people.css">	
	</head>

	<body>
		<br>
	 	<div class="container">
	 		<div class="header">
	 			<h1 class="text-primary"> Numerology Calculator
	 				<br>
	 				<small> What does your birthday say about you? </small>
	 			</h1>
	 		</div>
	 		<hr />
	 		<%= yield %></div>
	 	<br>
	 	<br>
	 </body>
 </html>